<% 
  def convert_time(timestamp)
    timestamp = timestamp.to_s.rjust(4, '0')
    hours = timestamp[0..1].to_i
    minutes = timestamp[2..3]
    period = hours >= 12 ? 'PM' : 'AM'
    hours = hours % 12
    hours = 12 if hours == 0
    
    "#{hours}:#{minutes} #{period}"
  end

  def speaker_profiles
    {
     'Yukihiro "Matz" Matsumoto' => ["Ruby", "https://github.com/matz.png"],
     'Cristian Planas' => ["Zendesk", "https://pbs.twimg.com/profile_images/1612162777635856389/Y7ed0sKY_400x400.jpg"],
     'Hiroshi Shibata' => ["ANDPAD", "https://avatars.githubusercontent.com/u/12301?v=4"],
     'Eriko Sugiyama' => ["MoneyForward", "https://avatars.githubusercontent.com/u/40660382?v=4"],
     'Marco Roth' => ["Toolsday", "https://github.com/marcoroth.png"],
     'Adrian Goh' => ["NodeFlair", "https://github.com/adriangohjw.png"],
     'Hieu Nguyen' => ["Ascenda", "https://github.com/hieuk09.png"],
     'Tim Riley' => ["Buildkite", "https://pbs.twimg.com/media/GJl6jJ9XgAAdUB1?format=jpg&name=medium"],
     'Charles Oliver Nutter' => ["Red Hat", "https://github.com/headius.png"],
     'Mu-Fan Teng' => ["5xRuby", "https://pbs.twimg.com/profile_images/1792112104247635968/12VEt0pt_400x400.jpg"],
     'Giovanni Sakti' => ["RelayCommerce", "https://media.licdn.com/dms/image/C5603AQFTYvUASDPScw/profile-displayphoto-shrink_800_800/0/1640562146338?e=1724284800&v=beta&t=i0zHCcJF0H0G87pRqcwKp2FqV2M4Yxba3xBYJ6LUhkI"],
     'Mario Arias' => ["Carbon Management Solutions", "https://media.licdn.com/dms/image/D5603AQHqCWi-9iYu5A/profile-displayphoto-shrink_400_400/0/1677910795703?e=1724284800&v=beta&t=Z8CHRukmbX1jK9DnOOgipb0uuPrlzns3itn8f1_21Rs"],
     'Colby Swandale' => ["RubyCentral", "https://github.com/colby-swandale.png"],
     'Dave Aronson' => ["Codosaurus", "https://www.codosaur.us/assets/img/2020-02-07-Speaking-at-JSConfHI-HEAD-N-SHOULDERS-SMALL.jpg"],
     'Aaron Patterson' => ["Rails Core, Shopify", "https://avatars.githubusercontent.com/u/3124?v=4"],
     'Okura Musafami' => ["Freelancer", "https://github.com/okuramasafumi.png"]
    }
  end
%>
<% if days.present? %>
  <div data-controller="day-selector" class="mt-10">
    <div data-day-selector-target="toggle"  class="flex items-center justify-around py-1 mx-auto my-4 text-sm rounded-lg md:hidden max-w-40">
      <% days.each_with_index do |day, index| %>
        <% default_klass = index == 0 ? "border-2 border-rose-800" : "" %>
        <div data-action="click->day-selector#selectDay" data-index="<%= index %>" class="px-3 py-1 rounded-lg cursor-pointer text-rose-800 font-bold <%= default_klass %>">
          Day <%= index + 1 %>
        </div>
      <% end %>
    </div>
    <div data-day-selector-target="content" class="flex flex-col gap-4 md:flex-row">
      <% days.each_with_index do |day, index| %>
        <% default_klass = index == 0 ? "" : "hidden" %>
        <div data-index="<%= index %>" class="md:block flex-grow p-4 rounded-lg border-4 border-rose-800 bg-white <%= default_klass %>">
          <div class="w-full h-full">
            <h3 class="px-6 py-3 text-lg font-bold text-center text-rose-800">Day <%= index + 1 %></h3>
            <table class="min-w-full divide-y divide-gray-200">
              <tbody class="divide-y divide-gray-200">
                <% day.each do |event| %>
                  <tr>
                    <td class="w-1/6 px-2 py-4 font-medium text-gray-800 align-top whitespace-nowrap"><%= convert_time(event["time"]) %></td>
                    <td class="w-5/6 px-6 py-4 font-semibold text-gray-800 align-top">
                      <div class="flex items-center justify-between gap-x-5">
                        <div>
                          <h4><%= event["name"] %></h4>
                          <p class="text-md text-rose-800"><%= event["description"] %></p>
                        </div>
                        <% if speaker_profiles[event["description"]].present? %>
                          <div class="shrink-0">
                            <img class="inline w-12 h-12 rounded-full" src="<%= speaker_profiles.dig(event["description"],1) %>">
                          </div>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
