<div data-controller="speaker-dialog"
     data-speaker-dialog-name-value="<%= speaker.name %>"
     data-speaker-dialog-title-value="<%= speaker.title %>"
     data-speaker-dialog-image-url-value="<%= speaker.display_picture %>"
     data-speaker-dialog-bio-value="<%= speaker.bio %>"
     class="mt-4 flex w-full md:w-1/2 md:flex-row flex-col items-center">
    <img data-action="click->speaker-dialog#showDialog" src="<%= speaker.display_picture %>"
      class="rounded-xl border-4 border-rose-400 h-24 w-24 flex-shrink-0 hover:-translate-y-2 transition-transform" />

    <div class="pt-4 px-4 flex flex-col justify-end max-sm:items-center">
        <h3 class="text-xl text-neutral-800 font-semibold">
            <%= speaker.presentation_title %>
        </h3>
        <p class="font-bold text-rose-800">
            <%= speaker.name %>
        </p>
        <p class="text-neutral-800">
            <%= speaker.title %>
        </p>
        <p class="group pt-2">
            <a href='https://github.com/<%= speaker.github_handle %>' target="_blank">
                <i class="text-xl fa-brands fa-github-alt text-rose-600 group-hover:animate-bounce"></i>
                <span class="text-sm underline decoration-dotted text-rose-600"><%= speaker.github_handle %></span>
            </a>
        </p>
    </div>
</div>
