<div class="mt-4 flex w-full md:w-1/3 md:flex-row flex-col items-center">
    <img src="<%= speaker.display_picture %>" class="rounded-xl border-4 border-rose-400 h-24 w-24" />
    <div class="pt-4 px-4 flex flex-col justify-end max-sm:items-center">
        <h3 class="text-xl font-bold text-rose-800">
            <%= speaker.name %>
        </h3>
        <p class="text-neutral-800">
            <%= speaker.title %>
        </p>
        <p class="group pt-2">
            <a href='https://github.com/<%= speaker.github_handle %>' target="_blank">
                <i class="text-xl fa-brands fa-github-alt text-rose-600 group-hover:animate-bounce"></i>
                <span class="text-sm underline decoration-dotted text-rose-600"><%= speaker.github_handle %></span>
            </a>
        </p>
    </div>
</div>