<style>
  #sponsors-grid {
    display: grid;
    grid-template-columns: minmax(10px, 1fr) 3fr;
  }

  /* This is smaller than what tailwind's `sm` supports */
  @media (width <= 639px) {
    #sponsors-grid {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
</style>

<div id="sponsors" class="pb-8 relative bg-indigo-100 text-center">
  <div class="container mx-auto pt-20 mb-24 px-8 lg:px-0">
    <h1 class="text-5xl font-bold text-indigo-800">Sponsors</h1>

    <div class="max-w-2xl pt-4 mx-auto text-indigo-950">
      <p>Our sponsorship packages are a great opportunity to engage with some of the brightest minds in the ruby community through physical booths and digital media surfaces. Find out more in our Sponsorship Prospectus below!</p>
    </div>

    <div class="py-8 flex md:flex-row md:justify-center md:items-center flex-col">
      <a target="_blank" href="<%= current_conference.sponsorship_prospectus.presence || "mailto:organisers@reddotrubyconf.com" %>">
        <button
          class="button mb-8 px-8 h-12 bg-indigo-600 rounded-lg cursor-pointer select-none active:translate-y-2 active:[box-shadow:0_0px_0_0_#3730a3,0_0px_0_0_#1b70f841] active:border-b-[0px] transition-all duration-150 animate-bounce [box-shadow:0_10px_0_0_#3730a3,0_15px_0_0_#1b70f841]"
        >
          <span class="flex justify-center items-center h-full text-white font-bold text-lg"> <i class="fa fa-heart text-white pr-2" aria-hidden="true"></i>Become A Sponsor</span>
        </button>
      </a>
    </div>

    <div class="mt-2 mx-auto w-7xl p-8 rounded-lg bg-slate-50 [box-shadow:0_40px_0_0_#a5b4fc,0_15px_0_0_#a5b4fc] border-4 border-indigo-800">
      <div id="sponsors-grid">
        <% sponsors.each do |sponsor| %>
          <div class="flex justify-center items-center m-2 sm:m-2 sm:my-8 lg:m-8" style="100%">
            <a href="<%= sponsor[:url] %>"><%= image_tag sponsor[:image], style: "width: 300px" %></a>
          </div>
          <div class="flex content-start items-center text-start m-2 sm:m-2 sm:my-8 lg:m-8">
            <span><%= sponsor[:write_up] %></span>
          </div>
        <% end %>
      </div>


      <hr />

      <h3 class="text-3xl font-bold mt-8 m-4">Ruby Friends</h3>

      <!-- Ruby Friends Sponsors -->
      <div class="flex flex-wrap justify-around">
        <div class="flex justify-center items-center flex-wrap">
          <div class="flex flex-col items-center m-8 lg:mx-16 lg:mt-8" style="">
            <%= image_tag "mohit.jpg", class: "rounded-full border-4 border-indigo-400 h-24 w-24 mb-4" %>
            <h3 class="text-xl font-bold text-indigo-800 text-start">Mohit Sindhwani</h3>
            <p class="text-xl text-neutral-800 text-center">CTO, Quantum Inventions</p>
          </div>

          <div class="flex flex-col items-center m-8 lg:mx-16 lg:mt-8" style="">
            <%= image_tag "https://github.com/TayKangSheng.png", class: "rounded-full border-4 border-indigo-400 h-24 w-24 mb-4" %>
            <h3 class="text-xl font-bold text-indigo-800 text-start">Kang Sheng</h3>
            <p class="text-xl text-neutral-800 text-center">Software Engineer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>