<div class="fixed top-0 w-screen h-16 z-50 bg-teal-100 border-b-4 border-b-teal-800 flex justify-end items-center text-xs md:text-sm">
  <%= link_to "Tickets", "#tickets", class: "mr-4 text-teal-800 font-bold rounded-lg", data: { turbo: "false" } %>
  <%= link_to "Speakers", "#speakers", class: "mr-4 text-teal-800 font-bold rounded-lg", data: { turbo: "false" } %>
  <%= link_to "Venue", "#venue", class: "mr-4 text-teal-800 font-bold rounded-lg", data: { turbo: "false" } %>
  <%= link_to "Sponsors", "#sponsors", class: "mr-4 text-teal-800 font-bold rounded-lg", data: { turbo: "false" } %>
</div>
<div class="container mx-auto mb-32 px-8 lg:px-4">
  <div class="relative flex flex-wrap rounded-lg bg-white [box-shadow:0_40px_0_0_#c3e5e2,0_15px_0_0_#c3e5e2] border-4 border-teal-800" style="margin-top:100px">
    <div class="lg:w-1/2 w-full bg-white overflow-hidden">
      <iframe src="https://drive.google.com/file/d/1sjeHqzawfQ2aiBNAQFqeYei_5zjKHfh8/preview" style="width: 800px;height: 400px; max-width: 100%;" allowfullscreen="true"></iframe>
    </div>
    <div class="lg:w-1/2 w-full px-8 py-8 lg:pt-12">
      <h1 class="text-2xl lg:text-4xl font-bold text-rose-600">Finding the venue</h1>
          <p>From the SingPost Center mall entrance Follow the signs that indicate:</p>
          <br/>
          <ol style="list-style-type: circle;margin-left:20px">
            <li>North Office Lobby</li>
            <li>South Office Lobby</li>
            <li>Center Office Lobby</li>
            <li>SingPost Auditorium</li>
          </ol>
          <br/>
          <p>From the lobby take the elevator to level 5</p>
          <i class="fa-regular fa-map"></i>
          <a class="text-rose-800 decoration-dotted underline underline-offset-8" href="https://www.google.com/maps/place/SingPost+Centre/@1.3186569,103.893388,19.44z/data=!4m6!3m5!1s0x31da19d772eeca0b:0x87ceaa7082d263d9!8m2!3d1.318903!4d103.894049!16s%2Fg%2F1ptvqt1db?entry=ttu" target="_blank">
            Map Location
          </a>
    </div>
  </div>
  <div class="flex flex-wrap mt-24 mb-12 lg:mb-0">
    <div class="w-full lg:w-8/12">
      <div class="lg:pt-20 mb-8">
        <%= image_tag "dally.png", class: "h-48 mb-12 lg:pb-0 lg:h-48" %>
        <h1 class="text-4xl lg:text-7xl font-bold text-rose-500">Red Dot Ruby Conference 2024</h1>
        <a target="_blank" class="decoration-dotted underline underline-offset-8" href="https://www.google.com/maps/dir//SingPost+Auditorium,+10+Eunos+Rd+8,+%2305-30,+SingPost+Centre,+408600/data=!4m7!4m6!1m1!4e2!1m2!1m1!1s0x31da190058e45f7b:0x9e8e0ec8d5dab5f!3e0?sa=X&ved=1t:3747&ictx=111">
          <p class="text-black text-lg lg:text-xl mb-2 mt-4 font-bold">🇸🇬 SingPost Centre, Level 5 Auditorium, 25-26 July 2024</p>
        </a>
      </div>
      <%= image_tag "wavy.png", class: "max-sm:hidden w-48 mb-12" %>
    </div>
    <div id="tickets" class="w-full lg:w-4/12">
      <tito-widget event="cu/rdrc24"></tito-widget>
    </div>
    <div>
    </div>
  </div>
  <div class="relative flex flex-wrap rounded-lg bg-white [box-shadow:0_40px_0_0_#c3e5e2,0_15px_0_0_#c3e5e2] border-4 border-teal-800">
    <div class="spinning-ruby max-sm:hidden absolute -right-10 -top-10">
      <svg viewBox="-1 -1 50 50" width="100px">
        <path d="M 35,40 30,48 21,42 11,44 9,34 0,30 6,20 4,10 14,8 20,0 28,5 38,3 l 1,10 8,5 -5,8 2,10z" stroke="rgb(190 24 93)" stroke-linejoin="bevel" fill="rgb(190 24 93)" />
      </svg>
    </div>
    <div class="max-sm:hidden absolute -right-3 -top-3">
      <i class="text-5xl fa-solid fa-gem text-white"></i>
    </div>
    <div class="lg:w-1/2 w-full bg-white overflow-hidden">
      <%= image_tag "ruby_conf_prev.jpeg" %>
    </div>
    <div class="lg:w-1/2 w-full px-8 py-8 lg:pt-12">
      <h1 class="text-2xl lg:text-4xl font-bold text-rose-600">A gem-packed, two-day single-track Ruby conference in sunny Singapore.</h1>
      <p class="text-sm lg:text-md text-slate-500 my-4">
        <strong>Red Dot Ruby Conference (RDRC)</strong> is the only Ruby programming language conference in Singapore, bringing together the brightest minds in the Ruby community in the region since 2011.
      </p>
      <p class="text-sm lg:text-md text-slate-500 my-4">
        After a brief hiatus due to the global pandemic in 2020, we are excited to reboot in 2024 and celebrating the programming language we all know and love. We can’t wait to meet in Singapore!
      </p>
    </div>
  </div>
</div>
<div class="pt-18 bg-rose-100 pb-4 relative">
  <div class="sm:hidden absolute -top-10 w-screen flex justify-center">
    <svg class="spinning-ruby" viewBox="-1 -1 50 50" width="100px">
      <path d="M 35,40 30,48 21,42 11,44 9,34 0,30 6,20 4,10 14,8 20,0 28,5 38,3 l 1,10 8,5 -5,8 2,10z" stroke="rgb(190 24 93)" stroke-linejoin="bevel" fill="rgb(190 24 93)" />
    </svg>
  </div>
  <div class="sm:hidden absolute -top-2 w-screen flex justify-center">
    <i class="text-5xl fa-solid fa-gem text-white"></i>
  </div>
  <div id="speakers" class="container mx-auto pt-20 mb-24 px-8 lg:px-4">
    <h1 class="font-bold text-xl lg:text-5xl text-rose-800 text-center">
      2 days. 1 track. 16+ speakers.
    </h1>
    <%= render "daily_agenda", days: @days %>
    <%= render "featured_speakers", speakers: @speakers %>
  </div>
</div>
<div id="venue" class="pt-20 md:pt-24 pb-24 relative bg-sky-100 text-center px-8">
  <h1 class="text-xl lg:text-5xl font-bold text-sky-800">Our Little Red Dot</h1>
  <div class="max-w-2xl pt-4 mx-auto text-sky-900">
    <p>
      A seamless blend of culture, innovation and technology
    </p>
  </div>
  <%= render "singapore" %>
</div>

<%= render partial: "sponsors", locals: {sponsors: @sponsors} %>

<!-- About -->
<div id="about" class="pb-8 relative bg-rose-100 text-center">
  <div class="container mx-auto pt-20 mb-24 px-8 lg:px-4">
    <h1 class="text-5xl font-bold text-rose-800">About</h1>
    <div class="max-w-2xl pt-4 mx-auto text-rose-950">
      <p>
        Red Dot Ruby Conference is a not-for-profit event dedicated to fostering a vibrant community of Ruby developers and advancing the Ruby ecosystem in Singapore and Asia.
        Since 2011, the conference is organised entirely by a group of volunteers.
      </p>
    </div>
    <div class="py-8 flex md:flex-row md:justify-center md:items-center flex-col">
      <ul role="list" class="mx-auto grid max-w-2xl grid-cols-2 gap-x-8 gap-y-8 text-center sm:grid-cols-3 lg:mx-0 lg:max-w-none lg:grid-cols-6">
        <li>
          <a href="https://www.taykangsheng.com/">
            <img class="mx-auto h-16 w-16 rounded-full border-2 border-rose-200" src="https://avatars.githubusercontent.com/u/10722197?v=4" alt="">
            <h3 class="mt-4 text-base font-semibold">Kang Sheng</h3>
            <p class="text-sm">Sponsorships</p>
          </a>
        </li>
        <li>
          <a href="https://onurozer.me">
            <img class="mx-auto h-16 w-16 rounded-full border-2 border-rose-200" src="https://avatars.githubusercontent.com/u/55616?v=4" alt="">
            <h3 class="mt-4 text-base font-semibold">Onur Ozer</h3>
            <p class="text-sm">Marketing</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/coffeesam">
            <img class="mx-auto h-16 w-16 rounded-full border-2 border-rose-200" src="https://avatars.githubusercontent.com/u/297375?v=4" alt="">
            <h3 class="mt-4 text-base font-semibold">Sam Hon</h3>
            <p class="text-sm">Organisation</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/Drenmi">
            <img class="mx-auto h-16 w-16 rounded-full border-2 border-rose-200" src="https://avatars.githubusercontent.com/u/5259935?v=4" alt="">
            <h3 class="mt-4 text-base font-semibold">Ted Johansson</h3>
            <p class="text-sm">Lead</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/peanutyabing">
            <img class="mx-auto h-16 w-16 rounded-full border-2 border-rose-200" src="https://avatars.githubusercontent.com/u/48173359?v=4" alt="">
            <h3 class="mt-4 text-base font-semibold">Yabing</h3>
            <p class="text-sm">Logistics</p>
          </a>
        </li>
        <li>
          <a href="https://www.zonghan.dev/">
            <img class="mx-auto h-16 w-16 rounded-full border-2 border-rose-200" src="https://avatars.githubusercontent.com/u/10085133?v=4" alt="">
            <h3 class="mt-4 text-base font-semibold">Zong Han</h3>
            <p class="text-sm">Intern</p>
          </a>
        </li>
        <!-- More people... -->
      </ul>
    </div>
  </div>
</div>

<div class="min-h-12 bg-white py-8">
  <div class="container mx-auto text-center md:text-right">
    Organised with <i class="text-xl fa-solid fa-gem text-rose-600"></i> by <a class="underline" href="https://ruby.sg">RubySG</a>
  </div>
</div>
<script>
  window.onscroll = function () {
      scrollRotate();
  };

  function scrollRotate() {
      let rubies = document.querySelectorAll(".spinning-ruby");

      rubies.forEach((ruby) => {
          ruby.style.transform = "rotate(" + window.pageYOffset / 2 + "deg)";
      });
  }
</script>
