<nav class="fixed top-0 bg-white border-gray-200 border-b-4 w-full">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-20 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <%= link_to root_path do %>
            <div class="flex justify-center items-center">
              <%= image_tag "dally.png", class: "h-12 pr-4 w-auto" %>
            &nbsp; <h1 class="text-rose-800 font-bold text-xl">RDRC 2024</h1>
            </div>
          <% end %>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <div class="relative ml-3">
          <% if user_signed_in? %>
            <%= link_to me_path do %>
              <img class="h-12 w-12 rounded-full border-2 border-rose-800" src="<%= current_user&.github_display_picture_url %>" alt="">
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>


<div class="mt-20 gem-banner flex justify-center items-center">
  <h1 class="text-white text-4xl font-bold">Call For Papers</h1>
</div>

<% @papers.each do |paper| %>
  <div class="my-8 py-4 mx-8 md:mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 bg-white rounded-lg border-4 border-rose-800 text-black">
    <div class="py-2">
      <div class="mb-8">
        <h3 class="text-rose-800 text-2xl font-bold"><%= paper.title %></h3>
        <p class="text-xl"><%= paper.description %></p>
        <p class="text-sm"><%= paper.notes %></p>
      </div>
      <div class="mb-8">
        <p class="text-xs">Audience Level: <%= paper.audience_level %></p>
        <p class="text-xs">Submitted on: <%= paper.created_at.strftime("%d %b %Y") %></p>
      </div>

      <div class="my-4 bg-rose-200 text-rose-800 rounded-lg p-4">
        <p class="text-sm">Submitted by: <%= paper.speaker_profile.name %></p>
        <p class="text-sm">Email: <%= paper.user.email %></p>
        <p class="text-sm">Affiliation: <%= paper.speaker_profile.affiliation %></p>
        <p class="text-sm">Speaker Url: <%= paper.speaker_profile.url %></p>
        <p class="text-sm">X: <%= paper.speaker_profile.x_handle %></p>
        <p class="text-sm">Bio: <%= paper.speaker_profile.bio %></p>
      </div>
    </div>
  </div>
<% end %>
